################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication2
/packages
/WebApplication2/App_Data
/WebApplication2/bin
/WebApplication2/obj/Debug
